{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 ps-0">
                <h3>Payment Details</h3>
            </div>
            <div class="col-sm-6 pe-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'user_dashboard' %}">
                        <i class="fa-solid fa-house"></i>
                    </a></li>
                    <li class="breadcrumb-item active">Deposit</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid credit-card">
    <div class="row">
        <!-- Debit Card Starts-->
        <div class="col-xl-6 col-lg-6 box-col-33 debit-card">
            <div class="card">
                <div class="card-header pb-0">
                    <h3>Debit card </h3>
                </div>
                <div class="card-body">
                    <form class="theme-form e-commerce-form row" method="post" action="">
                        {% csrf_token %}
                        <div class="mb-3 col-12 p-r-0">
                            <input class="form-control" type="number" name="amount" placeholder="Amount" required>
                        </div>
                        <div class="mb-3 col-6 p-r-0">
                            <input class="form-control" type="text" placeholder="Full name here" required>
                        </div>
                        <div class="mb-3 col-6">
                            <input class="form-control" type="text" placeholder="Card number" required>
                        </div>
                        <div class="mb-3 col-6 p-r-0">
                            <input class="form-control" type="text" placeholder="CVV number" required>
                        </div>
                        <div class="mb-3 col-6">
                            <input class="form-control" type="text" placeholder="CVC" required>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label p-b-20">Expiration Date</label>
                        </div>
                        <div class="mb-3 col-6 p-r-0">
                            <select class="form-select" size="1" required>
                                <option>Select Month</option>
                                <option>Jan</option>
                                <option>Fab</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>Aug</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dec</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <select class="form-select" size="1" required>
                                <option>Select Year</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary btn-block" type="submit" title="">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Debit Card Ends-->
        <!-- Container-fluid Ends-->
    </div>
</div>
{% endblock content %}