{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 ps-0">
                <h3>Savings Details</h3>
            </div>
            <div class="col-sm-6 pe-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'user_dashboard' %}">
                        <i class="fa-solid fa-house"></i>
                    </a></li>
                    <li class="breadcrumb-item active">Savings</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid default-dashboard">
    <div class="row">
        <div class="col-xxl-4 col-xl-100 box-col-12 ps-4 pe-4 left-background">
            <div class="row bg-light h-100 p-3 pt-4 pb-4">
                <div class="col-12 col-xl-100 box-col-12">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-6 box-col-12">
                            <div class="card total-earning">
                                <div class="card-body money">
                                    <div class="customer-card d-flex b-l-secondary border-2">
                                        <div class="ms-3">
                                            <h3 class="mt-1">Naira Amount</h3>
                                            <h5 class="mt-1">$5.873</h5>
                                        </div>
                                        <div class="dashboard-user bg-light-secondary"><span></span>
                                            <i class="text-warning fa-solid fa-hand-holding-dollar"></i>
                                        </div>
                                    </div>
                                    <div class="customer mt-2"><span class="me-1">
                                        <i class="fa-solid fa-sack-dollar" style="color: #FFD43B;"></i>
                                    </span><span class="font-success me-2"></span><span>Actual Account Balance</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12 col-md-6 box-col-12">
                            <div class="card total-earning">
                                <div class="card-body">
                                    <div class="customer-card d-flex b-l-primary border-2">
                                        <div class="ms-3">
                                            <h3 class="mt-1">Token Amount</h3>
                                            <h5 class="mt-1">1.485</h5>
                                        </div>
                                        <div class="dashboard-user bg-light-primary"><span></span>
                                            <i class="text-primary fa-solid fa-coins"></i>
                                        </div>
                                    </div>
                                    <div class="customer mt-2"><span class="me-1">
                                        <i class="fa-solid fa-scale-balanced" style="color: #74C0FC;"></i>
                                    </span><span
                                            class="font-success me-2"></span><span>Converted at #100 per token</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 box-col-33 debit-card">
            <div class="card">
                <div class="card-header pb-0">
                    <h3>Save Your Funds</h3>
                </div>
                <div class="card-body">
                    <form class="theme-form e-commerce-form row" method="post" action="">
                        {% csrf_token %}
                        <div class="mb-3 col-12 p-r-0">
                            <input class="form-control" type="number" name="amount" placeholder="Amount" required>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary btn-block" type="submit" title="">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 box-col-33 debit-card">
            <div class="card">
                <div class="card-header pb-0">
                    <h3>Withdraw Your Savings</h3>
                </div>
                <div class="card-body">
                    <form class="theme-form e-commerce-form row" method="post" action="{% url 'saving_withdrawal' %}">
                        {% csrf_token %}
                        <div class="mb-3 col-12 p-r-0">
                            <input class="form-control" type="number" name="amount" placeholder="Amount" required>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary btn-block" type="submit" title="">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</div>
{% endblock content %}